@import "src/styles/colors";

.ra-input{
  height: 56px;
  border-radius: 2px;
  outline: none;
  border: 2px solid transparent;
  max-width: 544px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 10px;

  &:focus{
    border: 2px solid #DADADA;
  }

  &:disabled{
    background-color: #E8E8E8;
    cursor: not-allowed;
  }

  &__label{
    display: flex;
    flex-direction: column;
    gap: 8px;

    > span{
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #313037;
    }
  }

  &__container{
    margin: 10px;
    position: relative;
    padding-bottom: 30px;
  }

  &__error-list{
    position: absolute;
    bottom: 0;
    margin: 0;
    color: $COLOR_ERROR;
  }

  &--error{
    border: 2px solid $COLOR_ERROR;
  }
}